@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* TAIL-WIND Class CSS here */
	.ListItem {
		@apply font-sans text-xl min-w-max max-h-10 min-h-0 h-10
		flex flex-row justify-start origin-bottom-left items-center
		transition duration-100 ease-linear 
		hover:scale-110;
	}

	.ListItem button {
		@apply transition-all duration-100 ease-linear origin-left
		mx-2 p-3 rounded-md shadow-lg text-white bg-gray-600;
	}
	.ListItem div {
		@apply flex flex-row items-center
		transition duration-200 ease-linear origin-left;
	}
	.ListItem input[type="input"] {
		@apply border-2 border-gray-600 rounded-md shadow-lg origin-left min-w-min p-1 text-sm mx-1 text-center focus:outline-none;
		height: 3rem;
	}
	.ListItem input[type="checkbox"] {
		@apply appearance-none w-5 h-5 rounded-xl border-2 
		border-gray-400 cursor-pointer 
		checked:border-blue-500 checked:bg-blue-500;
	}
	.ListItem input[type="checkbox"]:checked {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
	}
	.ListItem a,
	.ListItem label {
		@apply p-3;
	}

	.ListItem a {
		@apply text-blue-500 underline;
	}

	.finished {
		@apply italic;
	}

	.AnimeList {
		@apply ml-2;
	}
	.Link {
		@apply w-72 h-96 rounded-md shadow-lg;
	}

	div .Delete {
		@apply bg-red-500;
	}
	.ListItem div {
		@apply ml-4;
	}

	.container + .container {
		@apply my-10;
	}

	.AddAnimes {
		@apply flex flex-col items-start;
	}

	.AddAnimes input {
		@apply w-1/2 border border-gray-600 rounded-md origin-left min-w-min p-1 px-3 text-sm my-2
		focus:outline-none focus:border-blue-600 focus:shadow-lg
		transition duration-200 ease-linear;
		height: 3rem;
	}
	.AddAnimes button {
		@apply p-2 border text-white rounded-3xl shadow-lg mt-3 w-1/2 text-xl bg-blue-500
		transition-all duration-200 ease-linear
		hover:bg-blue-700 hover:rounded-xl;
	}

	sub {
		@apply text-gray-400 text-2xl;
	}

	body {
		@apply m-2 p-0 overflow-x-hidden;
	}
	/* For Search bar */
	.SearchBox {
		@apply flex flex-row mb-0 w-1/2;
	}
	.SearchBar {
		@apply rounded-l-3xl p-2 px-4 border w-full border-r-0
		focus:rounded-l-xl
		transition-all duration-200 ease-linear;
	}
	.SearchBar:focus {
		outline: none;
	}
	.SearchSubmit {
		@apply rounded-r-3xl p-2 px-4 border border-l-0
		transition-all duration-200 ease-linear;
	}

	.SearchBar:focus + .SearchSubmit {
		@apply rounded-r-xl;
		outline: none;
	}

	.Hidden {
		@apply opacity-25 scale-95;
	}

	.SearchContainer {
		@apply my-3;
	}

	/* If there are no search results */
	.SearchContainer span {
		@apply text-red-500 my-0 opacity-0 origin-top-right hidden
		transition-all duration-200 ease-linear;
	}

	.NoResults div .SearchBar {
		@apply border-red-500;
	}
	.NoResults div .SearchSubmit {
		@apply border-red-500;
	}
	.NoResults span {
		@apply opacity-100;
		display: block;
	}
}
